
* {
    font-family: georgia, serif ;
    font-size: 16px;
    box-sizing: border-box;
    /* border: solid 10px red; */
}

body {
    margin: 0;
}

h1 {
    font-size: 300%;
    font-weight: bolder;
}
h2 {
    font-size: 200%;
    font-weight: bold;
    color: white;
}

h3 {
    font-size: 125%;
    font-weight: bold;
    color: black;
    background-color: #555555;
}

header {
    display: flex;
    background: #ad9590;
    justify-self: stretch;
    justify-content: space-between;
    border-top: 25px;
}

header div {
    margin-left: 10px;
    margin-top: 10px;
    /* justify-self: start; */
}

nav {
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: 10px;
}

.about-me {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: start;
}


/* how can i get this damn image to resize with the rest of it */
.about-me figure{
    width: 100%;
    height: 500px;
}

#about-me-pic {
    background-image: url(../picme.jpg);
    background-size: cover;
    background-position: center;
}

article{
    color: white;
    flex-basis: 70%;
}

main {
    width: 100%;
}

.main-app{
    width: 100%;
    height: 300px;
}

.main-app-pic{
    width: 100%;
    height: 300px;
    background-image: url(../ferris.JPG);
    background-size: cover;
}

.other-apps{
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    display: flex;
}

.other-apps div{
    /* flex-basis: 50%; */
    height: 200px;
    background-color: blue;
    border: solid 10px black;
}

.other-apps div h3{
    position: relative;
    top: 0px;
    right: 0px;
}

.plantlife{
    background-image: url(../plantlife.JPG);
    background-size: cover;
}

.steel1{
    background-image: url(../steel1.JPG);
    background-size: cover;
}

.steel2{
    background-image: url(../steel2.JPG);
    background-size: cover;
}

.scaffold{
    background-image: url(../scaffold.JPG);
    background-size: cover;
}

@media screen and (min-width: 768px) {
    * {
        font-size: 24px;
    }
    .about-me {
        flex-direction: row;
        justify-content: space-between;
        align-items: normal;
        justify-content: stretch;
    }

    .about-me figure {
        width: 30%;
        height: 300px;
    }
    
    main {
        flex-direction: row;
    }
    .main-app {
        flex-direction: row;
        justify-content: space-between;
    }
    .main-app-left{
        flex-basis: 20%;
    }
    .other-apps {
        flex-direction: row;
        justify-content: space-around;
    }
    .other-apps div{
        flex-basis: 50%;
    }

}